@using SondageProjet.Models
@model Reponse
@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 style="text-align:center; margin-top:3% "> PAGE DE VOTE DU SONDAGE </h1>

<input class="form-control" type="text" style="margin-right:20% ; margin-left:20%" value="@Model.ModelSondage.Question" placeholder="" readonly>
<div class="form-group form-check" style="margin-top:5%">



    @if (Model.ModelSondage.IsChoixMultiple == false)

    {
        <form style="margin-left:20%; margin-right:20% ; margin-top:2%" method="get" action="@Url.Action("VoteSimple")">
            <!--Modification pour recuperer mon vote-->

            <div>
                <input type="radio" name="onechoose" value="Choix1" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">@Model.ModelSondage.Choix1</label>
            </div><br />
            <div>
                <input type="radio" name="onechoose" value="Choix2" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Model.ModelSondage.Choix2</label>
            </div><br />
            <div>
                <input type="radio" name="onechoose" value="Choix3" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Model.ModelSondage.Choix3</label>
            </div><br />
            <div>
                <input type="radio" name="onechoose" value="Choix3" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Model.ModelSondage.Choix4</label>
            </div><br />

            <input type="hidden" name="idSondage" value="@Model.ModelSondage.IdSondage" />
            <input type="submit" value=" VOTE">
        </form>
    }
    else
    {
        <form style="margin-left:20%; margin-right:20% ; margin-top:2%" method="get" action="@Url.Action("VoteMultiple")">
            <div>

                <input type="checkbox" name="choix1" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">@Model.ModelSondage.Choix1</label>
            </div>
            <br />
            <div>
                <input type="checkbox" name="choix2" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleheck1">@Model.ModelSondage.Choix2</label>

            </div>
            <br />
            <div>
                <input type="checkbox" name="choix3" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Model.ModelSondage.Choix3</label>
            </div>
            <div>
                <input type="checkbox" name="choix3" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Model.ModelSondage.Choix4</label>
            </div>
            <input type="hidden" name="idSondage" value="@Model.ModelSondage.IdSondage" /><br />
            <input type="submit" value=" VOTE">

        </form>

    }
        <form>
            <br />
            <a style="padding-left:40%" href="@Url.Action("Resultat",new {idSondage=Model.ModelSondage.IdSondage})" target="_self">RESULTAT</a>
            <br />
           
        </form>

</div>



